* {
  font-family: Helvetica;
  text-align: center;
}

nav {
  background-color: skyblue;
  margin: auto;
}

nav li {
  display: inline-flex;
  padding: 10px;
  color: blue;
  text-decoration: underline;
}
